<section class="wrapper site-min-height" data-ng-controller="ProductosController">
    <h3><i class="fa fa-angle-right"></i>{{formTitle}}</h3>
    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal"  novalidate>
                <fieldset>
                    <ng-include src="'/modules/productos/views/form-fields-producto.client.view.html'"></ng-include>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" ng-click="create()" value="Guardar" ng-disabled="!enableSaveProducto">
                        <input type="button" class="btn btn-default" value="Cancelar" ng-click="cancel()">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
