<section class="wrapper site-min-height" data-ng-controller="ProductosController" data-ng-init="find()">
    <h3><i class="fa fa-angle-right"></i>Productos</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="content-panel">
                <table class="table table-hover">
                    <h4><i class="fa fa-angle-right"></i>Productos</h4>
                    <hr>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Fabricante</th>
                        <th>Tipo de Producto</th>
                        <th>Fecha de Creacion</th>
                        <th>Usuario</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="producto in productos">
                        <td>{{$index+1}}</td>
                        <td data-ng-bind="producto.nombre"></td>
                        <td data-ng-bind="producto.fabricante.nombre"></td>
                        <td data-ng-bind="producto.tipoproducto.nombre"></td>
                        <td data-ng-bind="producto.created | date:'medium'"></td>
                        <td data-ng-bind="producto.user.displayName"></td>
                        <td> <a href="#!/productos/{{producto._id}}"><span class="glyphicon glyphicon-floppy-open"></span></a></td>
                    </tr>
                    </tbody>
                </table>
            </div><! --/content-panel -->
        </div><!-- /col-md-12 -->
    </div>
</section>