<section class="wrapper site-min-height" data-ng-controller="ProductosController" data-ng-init="find()">
    <h3><i class="fa fa-angle-right"></i>Productos</h3>
    <div class="row mt">
        <div class="col-lg-12">
            <div class="content-panel">
                <div class="pull-right" style="margin-right: 10px">
                    <!--data-ng-show="((authentication.user) && (authentication.user._id == consumo.user._id))"-->
                    <a class="btn btn-primary" href="/#!/compras/create" tooltip="Nuevo compra">
                        <i class="fa fa-suitcase fa-lg"></i>
                    </a>
                </div>
                <h4><i class="fa fa-angle-right"></i> Lista de Productos</h4>
                <section id="table-responsive-one">
                    <table class="table table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Fabricante</th>
                            <th>Tipo de Producto</th>
                            <th>Stock Actual</th>
                            <th>Stock M&iacute;nimo</th>
                            <th>Activo</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="producto in productos">
                            <td data-title="#">{{$index+1}}</td>
                            <td data-title="Nombre" data-ng-bind="producto.nombre"></td>
                            <td data-title="Fabricante" data-ng-bind="producto.fabricante.nombre"></td>
                            <td data-title="Tipo de Producto" data-ng-bind="producto.tipoProducto.nombre"></td>
                            <td data-title="Stock Actual">{{producto.stockActual}}</td>
                            <td data-title="Stock M&iacute;nimo">{{producto.stockMinimo}}</td>
                            <td data-title="Activo">{{producto.activo}}</td>
                            <td data-title="Opciones" class="opciones"> <a href="#!/productos/{{producto._id}}" tooltip="Ver detalle"><span class="glyphicon glyphicon-floppy-open"></span></a></td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div><!-- /content-panel -->
        </div><!-- /col-md-12 -->
    </div>
</section>