<section class="wrapper site-min-height" data-ng-controller="ProductosController" data-ng-init="findOne()">
    <h3><i class="fa fa-angle-right"></i> Producto: <strong>{{producto.nombre}}</strong></h3>
    <div class="row" ng-show="!showDeleteMessage">
        <div class="col-md-12">
            <div class="content-panel">
                <div class="pull-right" style="margin-right: 10px">

                    <!--data-ng-show="((authentication.user) && (authentication.user._id == tipoproducto.user._id))"-->
                    <a class="btn btn-warning" href="/#!/productos/{{producto._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger" data-ng-click="showDeleteMessage=true;">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
                <table class="table table-hover">
                    <h4><i class="fa fa-angle-right"></i>{{producto.nombre}}</h4>
                    <hr>
                    <tbody>
                    <tr>
                        <td>Fabricante</td>
                        <td><strong>{{producto.fabricante.nombre}}</strong>
                            <a href="/#!/fabricantes/{{producto.fabricante._id}}">
                                <i class="glyphicon glyphicon-zoom-in"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Tipo Producto</td>
                        <td><strong>{{producto.tipoProducto.nombre}} ({{producto.tipoProducto.descripcion}})</strong>
                            <a href="/#!/tipoproductos/{{producto.tipoProducto._id}}">
                                <i class="glyphicon glyphicon-zoom-in"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Tamaño</td>
                        <td><strong>{{producto.tamanio}}</strong></td>
                    </tr>
                    <tr>
                        <td>Fraccionable</td>
                        <td ng-show="producto.fraccionable"><strong>Si</strong></td>
                        <td ng-show="!producto.fraccionable"><strong>No</strong></td>
                    </tr>
                    <tr>
                        <td>Consumible</td>
                        <td ng-show="producto.consumible"><strong>Si</strong></td>
                        <td ng-show="!producto.consumible"><strong>No</strong></td>
                    </tr>
                    <tr>
                        <td>Stock minimo</td>
                        <td><strong>{{producto.stockMinimo}}</strong></td>
                    </tr>
                    <tr>
                        <td>IVA</td>
                        <td><strong>{{producto.iva}}%</strong></td>
                    </tr>
                    <tr>
                        <td>Precio</td>
                        <td><strong>{{producto.moneda}}  {{producto.precio}}</strong></td>
                    </tr>
                    <tr>
                        <td>Descripcion</td>
                        <td><strong>{{producto.descripcion}}</strong></td>
                    </tr>
                    <tr>
                        <td>Activo</td>
                        <td ng-show="producto.activo"><strong>Si</strong></td>
                        <td ng-show="!producto.activo"><strong>No</strong></td>
                    </tr>
                    </tbody>
                </table>
            </div><!--/content-panel -->
        </div><!-- /col-md-12 -->
    </div>

    <div class="wrapper site-min-height" ng-show="showDeleteMessage">
        <div class="form-group">
            <h4>Esta serguro que desea eliminar el producto?</h4>
            <input type="submit" class="btn btn-danger" ng-click="setProductoInactivo()" value="Eliminar">
            <input type="button" class="btn btn-default" value="Cancelar"
                   ng-click="showDeleteMessage=false">
        </div>
    </div>
</section>
