<div class="row">
    <div class="form-group col-xs-12 col-sm-8 col-md-6 col-lg-4">
        <label class="control-label" for="producto">Producto</label>
        <div class="controls">
            <input type="text" data-ng-model="articulo.producto" id="producto" class="form-control" placeholder="producto" required>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-12 col-sm-8 col-md-6 col-lg-4">
        <label class="control-label" for="precio">Precio</label>
        <div class="controls">
            <input type="number" data-ng-model="articulo.precio" id="precio" class="form-control" placeholder="producto" required>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-12 col-sm-8 col-md-6 col-lg-4">
        <label class="control-label" for="fecha-vencimiento">Fecha de Vencimiento</label>
        <div class="controls">
            <input type="text" data-ng-model="articulo.fechaVencimiento" id="fecha-vencimiento" class="form-control" placeholder="Fecha Vencimiento" required>
        </div>
    </div>
</div>