<section class="wrapper site-min-height" data-ng-controller="TipoproductosController" data-ng-init="find()">
    <h3><i class="fa fa-angle-right"></i>Tipo de Productos</h3>
    <div class="row mt">
        <div class="col-lg-12">
            <div class="content-panel">
                <h4><i class="fa fa-angle-right"></i>Tipos de Productos</h4>
                <section id="table-list">
                    <table class="table table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="tipoproducto in tipoproductos">
                                <td>{{$index+1}}</td>
                                <td data-ng-bind="tipoproducto.nombre"></td>
                                <td data-ng-bind="tipoproducto.descripcion"></td>
                                <td> <a href="#!/tipoproductos/{{tipoproducto._id}}"><span tooltip="Ver detalles" class="glyphicon glyphicon-floppy-open"></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</section>