<section data-ng-controller="TipoproductosController" data-ng-init="find()">
    <div class="page-header">
        <h1>Tipoproductos</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="tipoproducto in tipoproductos" data-ng-href="#!/tipoproductos/{{tipoproducto._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="tipoproducto.created | date:'medium'"></span>
				by
				<span data-ng-bind="tipoproducto.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="tipoproducto.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!tipoproductos.$resolved || tipoproductos.length">
    	No Tipoproductos yet, why don't you <a href="/#!/tipoproductos/create">create one</a>?
    </div>
</section>