<div class="row">
    <div class="form-group col-xs-12 col-sm-8 col-md-6 col-lg-4">
        <label class="control-label" for="nombre">Nombre</label>
        <div class="controls">
            <input type="text" data-ng-model="persona.nombre" id="nombre" class="form-control" placeholder="Nombre" required>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-xs-12 col-sm-8 col-md-6 col-lg-4">
        <label class="control-label" for="direccion">Dirección</label>
        <div class="controls">
            <input type="text" data-ng-model="persona.direccion" id="direccion" class="form-control" placeholder="direccion">
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-xs-12 col-sm-8 col-md-6 col-lg-4">
        <label class="control-label" for="email">E-mail</label>
        <div class="controls">
            <input type="email" data-ng-model="persona.email" id="email" class="form-control" placeholder="E-mail">
        </div>
    </div>
</div>


<div class="row">
    <div class="form-group col-xs-12 col-sm-8 col-md-6 col-lg-4">
        <label class="control-label" for="telefono">Teléfono</label>
        <div class="controls">
            <input type="text" data-ng-model="persona.telefono" id="telefono" class="form-control" placeholder="Teléfono">
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-xs-12 col-sm-8 col-md-6 col-lg-4">
        <label class="control-label" for="telefono">Documento</label>
        <div class="controls">
            <input type="text" data-ng-model="persona.documento" id="documento" class="form-control" placeholder="Documento">
        </div>
    </div>
</div>