<section class="wrapper site-min-height" data-ng-controller="PersonasController" data-ng-init="find()">
    <h3><i class="fa fa-angle-right"></i> Personas</h3>
    <div class="row mt">
        <div class="col-lg-12">
            <div class="content-panel">
                <h4><i class="fa fa-angle-right"></i> Lista de Personas</h4>
                <section id="table-responsive-one">
                    <table class="table table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Direcci&oacute;n</th>
                            <th>E-Mail</th>
                            <th>Tel&eacute;fono</th>
                            <th>Documento</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="persona in personas">
                            <td data-title="#">{{$index+1}}</td>
                            <td data-title="Nombre" data-ng-bind="persona.nombre"></td>
                            <td data-title="Direcci&oacute;n" data-ng-bind="persona.direccion"></td>
                            <td data-title="E-Mail" data-ng-bind="persona.email"></td>
                            <td data-title="Tel&eacute;fono" data-ng-bind="persona.telefono"></td>
                            <td data-title="Opciones" data-ng-bind="persona.documento"></td>
                            <td> <a href="#!/personas/{{persona._id}}"><span class="glyphicon glyphicon-floppy-open"></span></a></td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div><!-- /content-panel -->
        </div><!-- /col-md-12 -->
    </div>
</section>