<section class="wrapper site-min-height" data-ng-controller="PersonasController" data-ng-init="findOne()">
    <h3><i class="fa fa-angle-right"></i>Persona: <strong>{{persona.nombre}}</strong></h3>
    <div class="row">
        <div class="col-md-12">
            <div class="content-panel">
                <div class="pull-right" style="margin-right: 10px">
                    <!--data-ng-show="((authentication.user) && (authentication.user._id == tipoproducto.user._id))"-->
                    <a class="btn btn-primary" href="/#!/personas/{{persona._id}}/edit" tooltip="Editar">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger" data-ng-click="remove();" tooltip="Eliminar">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
                <table class="table table-hover">
                    <h4><i class="fa fa-angle-right"></i>{{persona.nombre}}</h4>
                    <hr>
                    <tbody>
                    <tr>
                        <td>Direcci&oacute;n</td>
                        <td><strong>{{persona.direccion}}</strong></td>
                    </tr>
                    <tr>
                        <td>E-Mail</td>
                        <td><strong>{{persona.email}}</strong></td>
                    </tr>
                    <tr>
                        <td>Tel&eacute;fono</td>
                        <td><strong>{{persona.telefono}}</strong></td>
                    </tr>
                    <tr>
                        <td>Documento</td>
                        <td><strong>{{persona.documento}}</strong></td>
                    </tr>
                    </tbody>
                </table>
            </div><! --/content-panel -->
        </div><!-- /col-md-12 -->
    </div>
</section>
