<section class="wrapper site-min-height" data-ng-controller="ServiciosController" data-ng-init="find()">
    <h3><i class="fa fa-angle-right"></i> Servicios</h3>
    <div class="row mt">
        <div class="col-lg-12">
            <div class="content-panel">
                <div class="pull-right" style="margin-right: 10px">
                    <!--data-ng-show="((authentication.user) && (authentication.user._id == consumo.user._id))"-->
                    <a class="btn btn-primary" href="/#!/servicios/create" tooltip="Nuevo  Servicio">
                        <i class="fa fa-plus fa-lg"></i>
                    </a>
                </div>
                <h4><i class="fa fa-angle-right"></i> Lista de Servicios</h4>

                <form class="form-inline" style="padding: 10px;">
                    <div class="form-group">
                        <label for="findInput">Buscar Servicio: </label>
                        <input type="text" class="form-control" id="findInput" placeholder="" ng-model="searchWord">
                    </div>
                </form>

                <section id="table-responsive-one">
                    <table class="table table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                            <tr>
                                <th>#</th>
                                <th>Descripción</th>
                                <th>IVA</th>
                                <th>Precio Actual</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="servicio in servicios | filter: searchWord">
                                <td data-title="#" class="col-xs-12 col-sm-1 col-md-1 col-lg-1">{{$index+1}}</td>
                                <td data-title="Descripcion" data-ng-bind="servicio.descripcion" class="col-xs-12 col-sm-7 col-md-7 col-lg-7"></td>
                                <td data-title="Precio" class="col-xs-12 col-sm-1 col-md-1 col-lg-1">{{servicio.iva}}</td>
                                <td data-title="Precio" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">{{servicio.moneda}} {{servicio.precio}}</td>
                                <td data-title="Opciones" class="col-xs-12 col-sm-2 col-md-2 col-lg-2 center-text">
                                    <a class="btn btn-success" href="/#!/servicios/{{servicio._id}}">
                                        <i class="glyphicon glyphicon-zoom-in"></i>
                                    </a>
                                    <a class="btn btn-warning" href="/#!/servicios/{{servicio._id}}/edit">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div><!-- /content-panel -->
        </div><!-- /col-md-12 -->
    </div>
</section>
