<section class="wrapper site-min-height" data-ng-controller="FabricantesController" data-ng-init="findOne()">
    <h3><i class="fa fa-angle-right"></i>Editar Fabricante</h3>
    <div class="row" ng-show="!showDeleteMessage">
        <div class="col-md-12">
            <form class="form-horizontal" data-ng-submit="update()" novalidate>
                <fieldset>
                    <ng-include src="'/modules/fabricantes/views/form-fields-fabricante.client.view.html'"></ng-include>
                    <div class="form-group">
                        <input type="submit" class="btn btn-default" ng-click="update()" value="Guardar">
                        <input type="button" class="btn btn-default" value="Cancelar" ng-click="cancel()" ng-show="newProductTypeStateBoolean || newFabricanteStateBoolean">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

     <ng-include src="'modules/fabricantes/views/delete-fabricante.client.view.html'"></ng-include>
</section>