<div class="row">
    <div class="form-group col-xs-12 col-sm-8 col-md-6 col-lg-4">
        <label class="control-label" for="nombre">Nombre</label>
        <div class="controls">
            <input type="text" data-ng-model="fabricante.nombre" id="nombre" class="form-control" required>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-xs-12 col-sm-8 col-md-6 col-lg-4">
        <label class="control-label" for="origen">Origen</label>
        <div class="controls">
            <input type="text" data-ng-model="fabricante.origen" id="origen" class="form-control" required>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-xs-12 col-sm-8 col-md-6 col-lg-4">
        <label class="control-label" for="observaciones">Observaciones</label>
        <div class="controls">
            <input type="text" data-ng-model="fabricante.observaciones" id="observaciones" class="form-control">
        </div>
    </div>
</div>