<section class="wrapper site-min-height" data-ng-controller="FabricantesController" data-ng-init="findOne()">
    <h3><i class="fa fa-angle-right"></i>Fabricante: <strong>{{fabricante.nombre}}</strong></h3>
    <div class="row" ng-show="!showDeleteMessage">
        <div class="col-md-12">
            <div class="content-panel">
                <div class="pull-right" style="margin-right: 10px">
                    <!--data-ng-show="((authentication.user) && (authentication.user._id == tipoproducto.user._id))"-->
                    <a class="btn btn-warning" href="/#!/fabricantes/{{fabricante._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger" data-ng-click="showDeleteMessage=true;">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
                <table class="table table-hover">
                    <h4><i class="fa fa-angle-right"></i>{{fabricante.nombre}}</h4>
                    <hr>
                    <tbody>
                    <tr>
                        <td>Origen</td>
                        <td><strong>{{fabricante.origen}}</strong></td>
                    </tr>
                    <tr>
                        <td>Observaciones</td>
                        <td><strong>{{fabricante.observaciones}}</strong></td>
                    </tr>
                    <tr>
                        <td>Creado</td>
                        <td><strong>{{fabricante.created | date:'medium'}}</strong></td>
                    </tr>
                    <tr>
                        <td>Usuario</td>
                        <td><strong>{{fabricante.user.displayName}}</strong></td>
                    </tr>
                    </tbody>
                </table>
            </div><!--/content-panel -->
        </div><!-- /col-md-12 -->
    </div>

    <ng-include src="'modules/fabricantes/views/delete-fabricante.client.view.html'"></ng-include>
</section>
