<div class="row mt">
    <section id="table-responsive-two">
        <table class="table table-bordered table-striped table-condensed cf">
            <thead class="cf">
            <tr>
                <th>#</th>
                <th>Producto</th>
                <th class="numeric" style="min-width: 10rem;">Cantidad</th>
                <th class="numeric" >Moneda</th>
                <th class="numeric" style="min-width: 18rem;">Precio Unitario</th>
                <th class="date" style="width: 8rem;">Vencimiento</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td data-title="Producto" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="input-group">
                        <ui-select ng-model="newArticulo.producto" theme="bootstrap">
                            <ui-select-match placeholder="Producto">
                                <span class="badge fraccionable" ng-show="$select.selected.fraccionable">F</span>
                                <span class="badge consumible" ng-show="$select.selected.consumible">C</span>
                                {{$select.selected.nombre}}. {{$select.selected.tipoProducto.nombre}}-{{$select.selected.fabricante.nombre}} '{{$select.selected.descripcion}}' ({{$select.selected.tamanio}})
                            </ui-select-match>
                            <ui-select-choices repeat="item in productos | filter: $select.search">
                                <span class="badge fraccionable" ng-show="item.fraccionable">F</span>
                                <span class="badge consumible" ng-show="item.consumible">C</span>
                                <span ng-bind-html="item.nombre | highlight: $select.search"></span>
                                <span>{{item.tipoProducto.nombre}}-{{item.fabricante.nombre}}-{{item.descripcion}}({{item.tamanio}})</span>
                                <small ng-bind-html="item.descripcion | highlight: $select.search"></small>{{$select.selected}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                             <div ng-click="newProducto()" class="btn btn-default" tooltip="Nuevo Producto">
                                 <span class="glyphicon glyphicon-plus"></span>
                             </div>
                        </span>
                    </div>
                </td>

                <td class="numeric" data-title="Cantidad" class="col-xs-4 col-sm-1 col-md-1 col-lg-1">

                    <input class="form-control"
                           type="number"
                           name="price"
                           pattern="[0-9]+([\.|,][0-9]+)?"
                           step="0.01"
                           tooltip="El stock actual es {{ newArticulo.producto.stockActual}}"
                           ng-model="newArticulo.cantidad"
                           ng-disabled="!(newArticulo.producto)">
                </td>
                <td data-title="Moneda" class="col-xs-4 col-sm-1 col-md-1 col-lg-1">
                    <div class="animate-switch-container" ng-switch="newArticulo.moneda">
                        <div class="animate-switch" ng-switch-when="UYU">
                            <div ng-click="changeMonedaCompra()" class="btn btn-switch btn-switch-si">
                                <label>UYU</label>
                            </div>
                        </div>
                        <div class="animate-switch" ng-switch-when="USD">
                            <div ng-click="changeMonedaCompra()" class="btn btn-switch btn-switch-no">
                                <label>USD</label>
                            </div>
                        </div>
                    </div>

                    <!--input type="radio" ng-model="newArticulo.moneda" value="UYU" ng-disabled="!(newArticulo.producto)" > UYU
                    <input type="radio" ng-model="newArticulo.moneda" value="USD" ng-disabled="!(newArticulo.producto)"> USD-->

                </td>
                <td class="numeric" data-title="Precio" class="col-xs-4 col-sm-1 col-md-1 col-lg-1">
                    <div class="input-group">
                        <div class="input-group-addon">{{newArticulo.moneda}}</div>
                        <input class="form-control"
                               type="number"
                               ng-model="newArticulo.precio"
                               ng-disabled="!(newArticulo.producto)"
                               pattern="[0-9]+([\.|,][0-9]+)?" step="0.1">

                    </div>

                </td>
                <td class="date" data-title="Vencimiento" class="col-xs-4 col-sm-1 col-md-1 col-lg-1">
                    <input class="form-control" type="date" ng-model="newArticulo.fechaVencimiento" ng-disabled="!(newArticulo.producto)">
                </td>
                <td class="numeric" data-title="Opciones" class="col-xs-4 col-sm-1 col-md-1 col-lg-1">
                    <div ng-click="saveNewArticulo()" tooltip="Guardar artículo" ng-class="{'disabled-save-articulo': !isValidNewArticulo}" ng-disabled="!isValidNewArticulo" class="fa-icon save-articulo">
                        <i class="fa fa-check-circle"></i>
                    </div>
                </td>
            </tr>
            <tr data-ng-repeat="articulo in compra.articulos">
                <td>{{$index+1}}</td>
                <td data-title="Producto">
                    <span class="badge fraccionable" ng-show="articulo.producto.fraccionable">F</span>
                    <span class="badge consumible" ng-show="articulo.producto.consumible">C</span>
                    {{articulo.producto.nombre}}-{{articulo.producto.tipoProducto.nombre}}-{{articulo.producto.fabricante.nombre}}-{{articulo.producto.descripcion}}({{articulo.producto.tamanio}})

                </td>

                <td class="numeric" data-title="Cantidad" data-ng-bind="articulo.cantidad"></td>
                <td class="numeric" data-title="Precio">{{articulo.moneda}}</td>
                <td class="numeric" data-title="Precio">{{articulo.precio}}</td>
                <td data-title="Vencimiento" data-ng-bind="articulo.fechaVencimiento"></td>
                <td class="numeric" data-title="Opciones">
                    <div ng-click="deleteArticulo($index)" class="fa-icon delete-articulo" tooltip="Borrar articulo">
                        <i class="fa fa-times-circle"></i>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</div><!-- /row -->
