<div class="row mt">
    <section id="compra-factura-tables" class="table-responsive">
        <table class="table table-bordered table-striped table-condensed cf">
            <thead class="cf">
                <tr>
                    <th>Nro. de Factura</th>
                    <th>Proveedor</th>
                    <th class="numeric">Pago</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="Nro. de Factura">
                        <input class="form-control" id="factura" placeholder="Nro. Factura" type="text" ng-model="factura">
                    </td>
                    <td data-title="Proveedor">
                       <div class="input-group">
                            <ui-select ng-model="proveedor.selected" theme="bootstrap">
                                <ui-select-match placeholder="Proveedor">{{$select.selected.nombre}}</ui-select-match>
                                <ui-select-choices repeat="item in proveedores | filter: $select.search">
                                    <span ng-bind-html="item.nombre | highlight: $select.search"></span>
                                    <small ng-bind-html="item.descripcion | highlight: $select.search"></small>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <div ng-click="newProvedorState()" class="btn btn-default" tooltip="Nuevo Proveedor">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </div>
                            </span>
                        </div>
                    </td>
                    <td class="numeric" data-title="Pago">
                        <input class="form-control" id="pago" type="checkbox" ng-model="pago">
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div><!-- /row -->
