<section data-ng-controller="ComprasController" data-ng-init="find()">
    <div class="page-header">
        <h1>Compras</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="compra in compras" data-ng-href="#!/compras/{{compra._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="compra.created | date:'medium'"></span>
				by
				<span data-ng-bind="compra.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="compra.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!compras.$resolved || compras.length">
    	No Compras yet, why don't you <a href="/#!/compras/create">create one</a>?
    </div>
</section>