<section class="wrapper site-min-height" data-ng-controller="ComprasController" data-ng-init="find()">
    <h3><i class="fa fa-angle-right"></i> Compras</h3>
    <div class="row mt">
        <div class="col-lg-12">
            <div class="content-panel">
                <div class="pull-right" style="margin-right: 10px">
                    <!--data-ng-show="((authentication.user) && (authentication.user._id == consumo.user._id))"-->
                    <a class="btn btn-primary" href="/#!/compras/create" tooltip="Nueva Compra">
                        <i class="fa fa-plus fa-lg"></i>
                    </a>
                </div>
                <h4><i class="fa fa-angle-right"></i> Lista de compras</h4>
                <section id="table-responsive-one">
                    <table class="table table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                        <tr>
                            <th ng-click="predicate = 'fecha'; reverse=!reverse" style='cursor: pointer; text-decoration: underline'>Fecha</th>
                            <th ng-click="predicate = 'proveedor.nombre'; reverse=!reverse" style='cursor: pointer; text-decoration: underline'>Proveedor</th>
                            <th ng-click="predicate = 'factura'; reverse=!reverse" style='cursor: pointer; text-decoration: underline'>Factura</th>
                            <th ng-click="predicate = 'pago'; reverse=!reverse" style='cursor: pointer; text-decoration: underline'>Pago</th>
                            <th ng-click="predicate = 'monto'; reverse=!reverse" style='cursor: pointer; text-decoration: underline'>Monto</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="compra in compras | orderBy:predicate:reverse">
                            <td data-title="Fecha" class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                                {{compra.fecha | date:'dd/MM/yyyy'}}
                            </td>
                            <td data-title="Proveedor" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                {{compra.proveedor.nombre}}
                            </td>
                            <td data-title="Factura" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                {{compra.factura}}
                            </td>
                            <td data-title="Pago" class="col-xs-12 col-sm-1 col-md-1 col-lg-1 center-text">
                                <div ng-show="compra.pago">
                                    <i class="fa fa-check-square"></i> Si
                                </div>
                                <div ng-show="!compra.pago">
                                    <i class="fa fa-square"></i> No
                                </div>
                            </td>
                            <td data-title="Monto" class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                                {{compra.monto}}
                            </td>
                            <td data-title="Opciones" class="col-xs-12 col-sm-1 col-md-1 col-lg-1 center-text">
                                <a class="btn btn-primary" href="/#!/compras/{{compra._id}}">
                                    <i class="glyphicon glyphicon-zoom-in"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div><!-- /content-panel -->
        </div><!-- /col-lg-12 -->
    </div><!-- /row -->
</section><!-- /section -->
