<section class="wrapper site-min-height" data-ng-controller="ComprasController" data-ng-init="findOne()">
    <h3><i class="fa fa-angle-right"></i>Compra: <strong>{{compra.proveedor.nombre}}</strong></h3>
    <div class="row" ng-show="!showDeleteMessage">
        <div class="col-md-12">
            <div class="content-panel">
                <div class="pull-right" style="margin-right: 10px">
                    <!--data-ng-show="((authentication.user) && (authentication.user._id == tipoproducto.user._id))"-->
                    <a class="btn btn-danger" data-ng-click="showDeleteMessage=true">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
                <table class="table table-hover">
                    <h4><i class="fa fa-angle-right"></i>{{compra.proveedor.nombre}}</h4>
                    <hr>
                    <tbody>
                    <tr>
                        <td>Fecha</td>
                        <td><strong>{{compra.fecha | date:'dd/MM/yyyy'}}</strong></td>
                    </tr>
                    <tr>
                        <td>Pago</td>
                        <td>
                            <div ng-show="compra.pago">
                                <i class="fa fa-check-square"></i> Si
                            </div>
                            <div ng-show="!compra.pago">
                                <i class="fa fa-square"></i> No
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Monto</td>
                        <td><strong>{{compra.monto}}</strong></td>
                    </tr>
                    </tbody>
                </table>
            </div><!--/content-panel -->
        </div><!-- /col-md-12 -->
    </div>

    <div class="row" ng-show="!showDeleteMessage">
        <div class="col-md-12">
            <div class="content-panel">
                <table class="table table-hover">
                    <thead>
                        <th>Articulo</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="articulo in compra.articulos">

                        <td>
                            <span class="badge fraccionable" ng-show="articulo.producto.tipoProducto && articulo.producto.fraccionable">F</span>
                            <span class="badge consumible" ng-show="articulo.producto.tipoProducto && articulo.producto.consumible">C</span>
                            {{articulo.producto.nombre}}</td>
                        <td>{{articulo.cantidad}}</td>
                        <td>{{articulo.moneda}} {{articulo.precio}}</td>
                    </tr>
                    </tbody>
                </table>
            </div><!--/content-panel -->
        </div><!-- /col-md-12 -->
    </div>

    <div class="wrapper site-min-height" ng-show="showDeleteMessage">

        <div class="form-group">
            <h4>Esta serguro que desea eliminar la compra?</h4>
            <input type="submit" class="btn btn-danger" ng-click="remove()" value="Eliminar">
            <input type="button" class="btn btn-default" value="Cancelar"
                   ng-click="showDeleteMessage=false">
        </div>

    </div>
</section>
