<section class="wrapper site-min-height" data-ng-controller="ConsumosController" data-ng-init="find()">
    <h3><i class="fa fa-angle-right"></i> Consumos</h3>

    <div class="row mt">
        <div class="col-lg-12">
            <div class="content-panel">
                <div class="pull-right" style="margin-right: 10px">
                    <!--data-ng-show="((authentication.user) && (authentication.user._id == consumo.user._id))"-->
                    <a class="btn btn-primary" href="/#!/consumos/create" tooltip="Nuevo consumo">
                        <i class="fa fa-plus fa-lg"></i>
                    </a>
                </div>
                <h4><i class="fa fa-angle-right"></i> Lista de Consumos</h4>
                <form class="form-inline" style="padding: 10px;">
                    <div class="form-group">
                        <label for="findInput">Persona: </label>
                        <input type="text" class="form-control" id="findInput" placeholder="Buscar" ng-model="searchConsumo.persona.nombre">

                        <label for="findInput">Pagos </label>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> Todos
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="options" id="option2" autocomplete="off"> Pago
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="options" id="option3" autocomplete="off"> No Pago
                            </label>
                        </div>
                    </div>
                </form>
                <section id="table-responsive-one">
                    <table class="table table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                        <tr>

                            <th ng-click="predicate = 'fecha'; reverse=!reverse" style='cursor: pointer; text-decoration: underline'>Fecha</th>
                            <th ng-click="predicate = 'persona.nombre'; reverse=!reverse" style='cursor: pointer; text-decoration: underline'>Persona</th>
                            <th style='cursor: pointer; text-decoration: underline'>Monto</th>

                            <th  style='cursor: pointer; text-decoration: underline'>Cotización</th>
                            <th  style='cursor: pointer; text-decoration: underline'>Pago</th>
                            <th>Detalles</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="consumo in consumos | orderBy:'-fecha' | filter:searchConsumo:strict">

                            <td>{{consumo.fecha | date:'dd/MM/yyyy'}}</td>
                            <td>{{consumo.persona.nombre}}</td>
                            <td>USD {{consumo.montoDollar | number : 2}} - UYU {{consumo.montoPesos| number : 2}}</td>
                            <td>{{consumo.cotizacion | number : 2}}</td>
                            <td>
                               <span ng-show="consumo.pago"><i class="fa fa-check-square"></i> Si {{consumo.fechaPago | date:'dd/MM/yyyy'}} </span>
                               <span ng-show="!consumo.pago"><i class="fa fa-square"></i> No </span>
                            </td>
                            <td data-title="Opciones" class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                                <a class="btn btn-primary" href="/#!/consumos/{{consumo._id}}">
                                    <i class="glyphicon glyphicon-zoom-in"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div><!-- /content-panel -->
        </div><!-- /col-md-12 -->
    </div>
</section>

        <style>
            .selected{
                font-weight: bold;
            }
        </style>
