<section class="wrapper site-min-height" data-ng-controller="ConsumosController" data-ng-init="find()">
    <h3><i class="fa fa-angle-right"></i> Consumos</h3>

    <div class="row mt">
        <div class="col-lg-12">
            <div class="content-panel">
                <div class="pull-right" style="margin-right: 10px">
                    <!--data-ng-show="((authentication.user) && (authentication.user._id == consumo.user._id))"-->
                    <a class="btn btn-primary" href="/#!/consumos/create" tooltip="Nuevo consumo">
                        <i class="fa fa-plus fa-lg"></i>
                    </a>
                </div>
                <h4><i class="fa fa-angle-right"></i> Lista de Consumos</h4>

                <section id="table-responsive-one">
                    <table class="table table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                        <tr>
                            <th>#</th>
                            <th ng-click="predicate = 'fecha'; reverse=!reverse" style='cursor: pointer; text-decoration: underline'>Fecha</th>
                            <th ng-click="predicate = 'persona.nombre'; reverse=!reverse" style='cursor: pointer; text-decoration: underline'>Persona</th>
                            <th ng-click="predicate = 'monto'; reverse=!reverse" style='cursor: pointer; text-decoration: underline'>Monto</th>
                            <th>Productos</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="consumo in consumos | orderBy:predicate:reverse">
                            <td data-title="#">{{$index+1}}</td>
                            <td>{{consumo.fecha | date:'dd/MM/yyyy'}}</td>
                            <td>{{consumo.persona.nombre}}</td>
                            <td>{{consumo.monto}}</td>
                            <td data-title="Opciones" class="opciones"> <a href="#!/consumos/{{consumo._id}}" tooltip="Ver detalle"><span class="glyphicon glyphicon-zoom-in"></span></a></td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div><!-- /content-panel -->
        </div><!-- /col-md-12 -->
    </div>
</section>
