<section class="wrapper site-min-height" data-ng-controller="ConsumosController" data-ng-init="findOne()">
    <h3><i class="fa fa-angle-right"></i> Consumo</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="content-panel">
                <div class="pull-right" style="margin-right: 10px">

                    <!--data-ng-show="((authentication.user) && (authentication.user._id == tipoproducto.user._id))"-->
                    <a class="btn btn-danger" data-ng-click="remove();">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
                <table class="table table-hover">
                    <h4><i class="fa fa-angle-right"></i> Cliente: {{consumo.persona.nombre}}</h4>
                    <hr>
                    <tbody>
                    <tr>
                        <td>Fecha</td>
                        <td><strong>{{consumo.fecha | date:'dd/MM/yyyy'}}</strong></td>
                    </tr>
                    <tr>
                        <td>Pago</td>
                        <td>
                            <div ng-show="consumo.pago">
                                <i class="fa fa-check-square"></i> Si
                            </div>
                            <div ng-show="!consumo.pago">
                                <i class="fa fa-square"></i> No
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div><! --/content-panel -->
        </div><!-- /col-md-12 -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="content-panel">
                <table class="table table-hover">
                    <thead>
                    <th>Articulo/Servicio</th>
                    <th>Cantidad</th>
                    <th>Factor</th>
                    <th>Precio total</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="articulo in consumo.productos">
                        <td>{{articulo.producto.nombre}} ({{articulo.producto.tipoProducto.nombre}} - {{articulo.producto.tamanio}})</td>
                        <td class="numeric" data-ng-bind="articulo.cantidad"></td>
                        <td class="numeric">{{articulo.factor}}</td>
                        <td class="numeric">
                            <span ng-show="articulo.cantidad > 0">
                                <span ng-show="articulo.factor != '0'">{{articulo.producto.precio * articulo.cantidad * articulo.factor | number : 2}}</span>
                                <span ng-show="articulo.factor == '0'">{{articulo.producto.precio * articulo.cantidad | number : 2}}</span>
                            </span>
                        </td>
                    </tr>
                    <tr><td></td><td></td><td><strong>Total</strong></td><td>{{consumo.monto | number : 2}}</td></tr>
                    </tbody>
                </table>
            </div><! --/content-panel -->
        </div><!-- /col-md-12 -->
    </div>
</section>
