<div id="sidebar"  class="nav-collapse" data-ng-controller="HeaderController" common-utilities> <!--data-ng-if="menu.shouldRender(authentication.user);"-->
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion" >

        <!--p class="centered"><a href="profile.html"><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p-->
        <h5 class="centered">Marcel Newman</h5>

        <!--li class="mt">
            <a href="index.html">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li-->

        <li class="sub-menu" data-ng-repeat="item in menu.items | orderBy: 'position'" ng-switch="item.menuItemType"
            ui-route="{{item.uiRoute}}" ng-class="{active: ($uiRoute)}">
            <a ng-switch-when="dropdown" href="javascript:;" >
                <i class="fa fa-desktop"></i>
                <span data-ng-bind="item.title"></span>
            </a>
            <ul ng-switch-when="dropdown" class="sub" data-ng-repeat="subitem in item.items | orderBy: 'position'">
                <li><a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a></li>
            </ul>

            <ul ng-switch-default class="sub">
                <li><a href="/#!/{{item.link}}" data-ng-bind="item.title"></a></li>
            </ul>
        </li>

        <!--li class="sub-menu">
            <a href="javascript:;" >
                <i class="fa fa-cogs"></i>
                <span>Components</span>
            </a>
            <ul class="sub">
                <li><a  href="calendar.html">Calendar</a></li>
                <li><a  href="gallery.html">Gallery</a></li>
                <li><a  href="todo_list.html">Todo List</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a class="active" href="javascript:;" >
                <i class="fa fa-book"></i>
                <span>Extra Pages</span>
            </a>
            <ul class="sub">
                <li class="active"><a  href="blank.html">Blank Page</a></li>
                <li><a  href="login.html">Login</a></li>
                <li><a  href="lock_screen.html">Lock Screen</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" >
                <i class="fa fa-tasks"></i>
                <span>Forms</span>
            </a>
            <ul class="sub">
                <li><a  href="form_component.html">Form Components</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" >
                <i class="fa fa-th"></i>
                <span>Data Tables</span>
            </a>
            <ul class="sub">
                <li><a  href="basic_table.html">Basic Table</a></li>
                <li><a  href="responsive_table.html">Responsive Table</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" >
                <i class=" fa fa-bar-chart-o"></i>
                <span>Charts</span>
            </a>
            <ul class="sub">
                <li><a  href="morris.html">Morris</a></li>
                <li><a  href="chartjs.html">Chartjs</a></li>
            </ul>
        </li-->

    </ul>
    <!-- sidebar menu end-->
</div>