<div id="sidebar"  class="nav-collapse example-screen" data-ng-controller="HeaderController" common-utilities data-ng-show="menu.shouldRender(authentication.user);">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion" >

        <!--p class="centered"><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p-->
        <a href="/#!/settings/profile"><h5 class="centered">{{authentication.user.displayName}} </h5></a>

        <li class="sub-menu" data-ng-repeat="item in menu.items | orderBy: 'position'" ng-switch="item.menuItemType"
            ui-route="{{item.uiRoute}}">
            
            <a ng-switch-when="dropdown" href="javascript:;" >
                <i class="fa fa-desktop"></i>
                <span data-ng-bind="item.title"></span>
             </a>
             <a ng-switch-when="item" href="/#!/{{item.link}}" >
                <i class="fa fa-desktop"></i>
                <span data-ng-bind="item.title"></span>
            </a>
            <ul class="sub" ng-if="item.menuItemType == 'dropdown'">
                <li data-ng-repeat="subitem in item.items | orderBy: 'position'"><a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a></li>
            </ul>
        </li>

    </ul>
    <!-- sidebar menu end-->
</div>