<section class="wrapper site-min-height" data-ng-controller="ProveedoresController" data-ng-init="find()">
    <h3><i class="fa fa-angle-right"></i>Proveedores</h3>
    <div class="row mt">
        <div class="col-lg-12">
            <div class="content-panel">
                <h4><i class="fa fa-angle-right"></i> Lista de Proveedores</h4>
                <section id="table-responsive-one">
                    <table class="table table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Raz&oacute;n Social</th>
                            <th>RUT</th>
                            <th>Direcci&oacute;n</th>
                            <th>Tel&eacute;fono</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="proveedore in proveedores">
                            <td data-title="#">{{$index+1}}</td>
                            <td data-title="Nombre" data-ng-bind="proveedore.nombre"></td>
                            <td data-title="Raz&oacute;n Social" data-ng-bind="proveedore.razonSocial"></td>
                            <td data-title="RUT" data-ng-bind="proveedore.rut"></td>
                            <td data-title="Direcci&oacute;n" data-ng-bind="proveedore.direccion"></td>
                            <td data-title="Tel&eacute;fono" data-ng-bind="proveedore.telefono"></td>
                            <td data-title="Opciones"> 
                                <a class="btn btn-success" href="/#!/proveedores/{{proveedore._id}}">
                                    <i class="glyphicon glyphicon-zoom-in"></i>
                                </a>
                                <a class="btn btn-warning" href="/#!/proveedores/{{proveedore._id}}/edit">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                                <a class="btn btn-danger" data-ng-click="remove(proveedore);">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div><!--/content-panel -->
        </div><!-- /col-md-12 -->
    </div>
</section>